
<div class="wrapper">
    <%- include('../partials/messages.ejs') %>
    <h3 style="margin-top: 0;">Add Employee</h3>
    <form action="" method="POST">
        <div class="flex">
            <div>
                <input type="text" name="name" placeholder="Name">
            </div>
            <div>
                <input type="text" name="department" placeholder="Department">
            </div>
            <div>
                <input type="text" name="role" placeholder="Role">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div>
                <button type="submit" class="submit__button">Register</button>
            </div>
        </div>
    </form>
</div>