<div class="wrapper">
    <%- include('../partials/messages.ejs') %>
    <h3 style="margin-top: 0;">Employee Login</h3>
    <form action="" method="POST">
        <div class="flex">
            <div>
                <input type="text" name="name" placeholder="Name">
            </div>
            <div>
                <input type="password" name="password" placeholder="password">
            </div>
            <div>
                <button type="submit" class="submit__button">Login</button>
            </div>
        </div>
    </form>
</div>