
<div class="wrapper">
    <h3 style="margin-top: 0;">Update Employee</h3>
    <form action="" method="POST">
        <div class="flex">
            <div>
                <input type="text" name="name" placeholder="Name" value="">
            </div>
            <div>
                <input type="text" name="department" placeholder="Department" value="">
            </div>
            <div>
                <input type="text" name="role" placeholder="Role" value="">
            </div>
            <div>
                <button type="submit" class="">Submit</button>
            </div>
        </div>
    </form>
    
</div>