:root {
  --primary-color: #568c9b;
  --primary-hover-color: #64a5b7;
  --bg-color: #333;
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", "Montserrat", "Raleway", sans-serif;
  background: url("../images/showcase.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  /* background-color: #faf7f6; */
  color: #fff;
}

img {
  max-width: 100%;
}

h3 {
  text-transform: uppercase;
  font-family: "Montserrat ExtraBold";
  font-size: 26px;
  text-align: center;
  color: #fff;
}

.container {
  max-width: 960px;
  padding: 1rem 4rem;
  margin: auto;
  overflow: hidden;
}

.wrapper {
  width: 500px;
  /* height: 90px; */
  margin: 80px auto;
  /* background-image: url("../images/bg-boost-desktop.svg"); */
  /* background-color: #fff; */
  background-size: cover;
  padding: 25px 40px;
  border-radius: 7px;
}

/* .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

input {
  margin-top: 8px;
  margin-bottom: 12px;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: "Libre Franklin", sans-serif;
  border: 1px solid hsl(246, 25%, 77%);
  width: 100%;
}

input:focus {
  outline: none;
  border: 1px solid hsl(248, 32%, 49%);
}
.submit__button {
  width: 100%;
  border: none;
  color: #fff;
  padding: 15px 23px;
  border-radius: 10px;
  /* background-color: hsl(154, 59%, 51%); */
  background-color: #64a5b7;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: "Libre Franklin", sans-serif;
  /* border-bottom: 4px solid hsl(157, 89%, 41%); */
  border-bottom: #777;
  font-size: 18px;
}

button:hover {
  outline: none;
  transform: translateY(3px);
}

button:active {
  transform: translateY(0);
  border-bottom: none;
}

nav {
  /* margin: 30px 250px 0 100px; */
  margin: 40px 200px;
}

nav a {
  color: #fff;
  font-family: "Raleway";
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 40px;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
  font-family: "Montserrat";
}

.navbar-brand:hover {
  color: #64a5b7;
}

.radio {
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}

.radio input {
  padding: 0;
  width: 50px;
}

.radio__input {
  height: 1.25em;
  width: 1.25em;
}

.radio__radio {
  /* display: block;
  width: 12px;
  height: 12px;
  border: 2px solid #d8e4e2;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 2px; */
}

.nav-link:hover {
  color: #64a5b7;
}

.description {
  width: 100%;
  padding: 10px 25px;
  border-radius: 10px;
  margin-top: 8px;
}

.description:focus {
  border: none;
  outline: none;
}

.gig {
  background: #333;
  border-bottom: 4px solid #568c9b;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
}

.gig ul {
  list-style: none;
  display: flex;
}

.gig li {
  margin-right: 0.5rem;
  padding: 0.6rem;
}

.gig .tech span {
  color: #568c9b;
}

.btn {
  color: #fff;
  padding: 0.6rem;
  border: 1px solid #ccc;
  transition: all 0.7s;
}

.btn:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.btn-reverse {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-reverse:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}

.content-section {
  width: 800px;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 20px 240px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.content-section__1 {
  width: 600px;
  margin-left: 240px;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.comments {
  margin-left: 240px;
}

.name {
  color: #fff;
}

.name:hover {
  color: #64a5b7;
  text-decoration: none;
}
