body {
  font-family: "Libre Franklin", "Montserrat", "Raleway", sans-serif;
  background: url("../images/showcase.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  /* background-color: #faf7f6; */
  color: #fff;
}

img {
  max-width: 100%;
}

h3 {
  text-transform: uppercase;
  font-family: "Montserrat ExtraBold";
  font-size: 26px;
  text-align: center;
  color: #fff;
}

.wrapper {
  width: 500px;
  /* height: 90px; */
  margin: 80px auto;
  /* background-image: url("../images/bg-boost-desktop.svg"); */
  /* background-color: #fff; */
  background-size: cover;
  padding: 25px 40px;
  border-radius: 7px;
}

/* .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

input {
  margin-top: 8px;
  margin-bottom: 12px;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: "Libre Franklin", sans-serif;
  border: 1px solid hsl(246, 25%, 77%);
  width: 100%;
}

input:focus {
  outline: none;
  border: 1px solid hsl(248, 32%, 49%);
}
button {
  width: 100%;
  border: none;
  color: #fff;
  padding: 15px 23px;
  border-radius: 10px;
  /* background-color: hsl(154, 59%, 51%); */
  background-color: #64a5b7;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: "Libre Franklin", sans-serif;
  /* border-bottom: 4px solid hsl(157, 89%, 41%); */
  border-bottom: #777;
  font-size: 18px;
}

button:hover {
  outline: none;
  transform: translateY(3px);
}

button:active {
  transform: translateY(0);
  border-bottom: none;
}

nav {
  /* margin: 30px 250px 0 100px; */
  margin: 40px 200px;
}

nav a {
  color: #fff;
  font-family: "Raleway";
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 40px;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
  font-family: "Montserrat";
}

.navbar-brand:hover {
  color: #64a5b7;
}
