
<div class="wrapper">
    <h3>Add Category</h3>
    <form action="" method="POST">
        <div class="flex">
            <div>
                <input type="text" name="name" class="">
            </div>
            <div>
                <button type="submit" class="">Submit</button>
            </div>
        </div>
    </form>
    
</div>