<div class="wrapper">
    <h3>Update Application</h3>
    <form action="" method="POST">
        <div class="flex">
            <div>
                <input type="text" name="name" class="" value="<%= application.name %>">
            </div>
            <div>
                <button type="submit" class="submit__button">Submit</button>
            </div>
        </div>
    </form>
    
</div>