<div class="container">
    <a class="btn btn-primary" href="/documentation/type/create">Create type</a>
    <br>
    <br>
    <% types.forEach(function(type) { %>
        <li style="list-style: none;">
            <h4><a href="/documentation/category/<%= type.id %>" class="name"><%= type.name %></a></h4>
            <a class="btn btn-primary" href="/documentation/type/update/<%= type.id %>">Edit Type</a> | <a class="btn btn-danger" href="/documentation/type/delete/<%= type.id %>">Delete type</a>
        </li>
        <br/>
        <br>
    <% }); %>
</div>
