
<div class="wrapper">
    <h3 style="margin-top: 0;">Add Document</h3>
    <form action="" method="POST">
        <div class="flex">
            <div>
                <input type="text" name="subject" placeholder="Subject">
            </div>
            <div>
                <input type="text" name="status" placeholder="Status">
            </div>
            <div>
                <input type="text" name="application" placeholder="Application">
            </div>
            <div>
                <input type="text" name="employee" placeholder="Employee">
            </div>
            <div>
                <input type="radio" id="" name="type" value="internally">
                <label for="male">Internally</label><br>
                <input type="radio" id="" name="type" value="externally">
                <label for="female">Externally</label><br>
            </div>
            <div>
                <input type="text" name="category" placeholder="Category">
            </div>
            <div>
                <input type="text" name="description" placeholder="Description">
            </div>
            <div>
                <button type="submit" class="">Submit</button>
            </div>
        </div>
    </form>
    
</div>