
<div class="wrapper">
    <h3 style="margin-top: 0;">Add Document</h3>
    <form action="" method="POST">
        <div class="flex">
            <div>
                <input type="text" name="subject" placeholder="Subject">
            </div>
            <div>
                <input type="text" name="status" placeholder="Status">
            </div>
            <div>
                <input type="text" name="application" placeholder="Application">
            </div>
            <div>
                <input type="text" name="employee" placeholder="Employee">
            </div>
            <div>
                <% types.forEach(type => { %>
                <select name="type" class="form-control">
                    <option value=""><%= type.name %></option>
                    <option value=""><%= type.name %></option>
                </select>
                <% }) %>
            </div>
            <div>
                <input type="text" name="category" placeholder="Category">
            </div>
            <div>
                <input type="text" name="description" placeholder="Description">
            </div>
            <div>
                <button type="submit" class="">Submit</button>
            </div>
        </div>
    </form>
    
</div>