<section id="gigs" class="container">
    <h1>All Documents</h1>

    <% documents.forEach(document => { %>
    <div class="gig">
        <h3 style="display: flex; justify-content: flex-start;"><%= document.subject %></h3>
        <p><%= document.description %></p>
        <p><a href="/documentation/document/<%= document.id %>" class="btn btn-reverse">Details</a></p>
    </div>
    <% }) %>

</section>