
<div class="wrapper">
    <h3 style="margin-top: 0;">Update Document</h3>
    <form action="" method="POST">
        <div class="flex">
            <div>
                <input type="text" name="subject" placeholder="Subject">
            </div>
            <div>
                <input type="text" name="status" placeholder="Status">
            </div>
            <div>
                <input type="text" name="application" placeholder="Application">
            </div>
            <div>
                <input type="text" name="employee" placeholder="Employee">
            </div>
            <div>
                <input type="text" name="type" placeholder="Type">
            </div>
            <div>
                <input type="text" name="category" placeholder="Category">
            </div>
            <div>
                <input type="text" name="description" placeholder="Description">
            </div>
            <div>
                <button type="submit" class="submit__button">Submit</button>
            </div>
        </div>
    </form>
    
</div>